!<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/create-account.css">
  </head>
  <body>
    <h1>Sign Un</h1>
    <p>--> from Index</p>
    <ul>
      <li>Form page</li>
      <li>Input for email/password/confirm password etc</li>
      <li>Buttons for Reset/Submit</li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>