<%- include('partials/navPane') -%>

<h1>Personal page</h1>
 <p>Personal landing page</p>
 <ui>
   <li>nav bar</li>
   <li>Left panel for user details on top and add post section on bottom</li>
   <li>grid with all personal posts</li>
 </ui>
 
 
<%- include('partials/footer') -%>